<a href="/#/" class="backbutton">Back</a>

<div id="newpool" ng-hide="finished">

  <h1>Make a New Pool</h1>

  <form novalidate class="css-form">
    <div class="row">
      <div class="col-md-3">Name:</div>
      <div class="col-md-9"><input type="text" ng-model="pool.name" required /></div>
    </div>

    <div class="row">
      <div class="col-md-3">Description:</div>
      <div class="col-md-9"><textarea ng-model="pool.desc"></textarea></div>
    </div>

    <div class="row">
      <div class="col-md-3">Win Condition(s):</div>
      <div class="col-md-9"><textarea ng-model="pool.win"></textarea></div>
    </div>

    <div class="row">
      <div class="col-md-3">Company:</div>
      <div class="col-md-9">
        <input ng-model="pool.companies" style="width: 100%" id="companyInput" ui-select2="select2Options" type="text">
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">Pool Type:</div>
      <div class="col-md-9">
        <select style="width: 100%;" ng-model="pool.type">
          <option value="regular">Regular</option>
          <option value="square">Square</option>
          <option value="survivor">Survivor</option>
        </select>
      </div>
    </div>

    <div ng-show="pool.type === 'survivor'">
      <div class="row">
        <div class="col-md-3">Entry Price:</div>
        <div class="col-md-9"><input type="text" ng-model="pool.squareP"/></div>
      </div>
      <div class="row">
        <div class="col-md-3">Rounds:</div>
        <div class="col-md-9"><input type="text" ng-model="pool.rounds"/></div>
      </div>
    </div>

    <div class="row" ng-show="pool.type === 'square'">
      <div class="col-md-3">Square Price:</div>
      <div class="col-md-9"><input type="text" ng-model="pool.squareP"/></div>
    </div>

    <div ng-repeat="option in pool.options" ng-show="pool.type === 'regular' || pool.type === 'survivor'">
      <div class="row">
        <div class="col-md-3">Option {{$index+1}}:</div>
        <div class="col-md-9"><input type="text" ng-model="option.name" /></div>
      </div>

      <div class="row">
        <div class="col-md-3">Description:</div>
        <div class="col-md-9"><textarea ng-model="option.desc"></textarea></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">End Date:</div>
      <div class="col-md-9"><input type="date" ng-model="pool.date"/></div>
    </div>

    <div class="row">
      <div class="col-md-3">End Time:</div>
      <div class="col-md-9"><input type="time" ng-model="pool.time"/></div>
    </div>

    <div class="button-row">
      <a class="btn btn-default" ng-click="addOption()" style="color: black">Add Option</a>
      <a class="btn btn-primary" ng-click="submitPool()">Submit</a>
    </div>
  </form>
</div>

<div id="newpool" ng-show="finished" style="text-align: center">
  <h1>Made new pool.</h1>
  <a href="/#/">Click to return</a>
</div>
