<a href="/#/ViewPools" class="backbutton">Back</a>

<div id="pool">
  <div class="row">
    <div class="col-md-10"><h1>{{pool.name}}</h1></div>
    <div class="col-md-2" style="text-align: right; margin-top: 20px">
      <a href="/#/edit/{{pool.key}}" class="btn btn-default">Edit Pool</a>
    </div>
  </div>

  <div class="poolcontent">
    <h5>{{pool.desc}}</h5>

    <div class="row">
      <div class="col-md-4 poolinfo">
        <h4>Pot Size</h4>
        <p>{{pool.pot}}</p>
      </div>
      <div class="col-md-4 poolinfo">
        <h4>Who's Playing</h4>
        <p>{{pool.betcount}}</p>
      </div>
      <div class="col-md-4 poolinfo">
        <h4>End Time</h4>
        <p>{{pool.date}} {{pool.time}}</p>
      </div>
    </div>

    <div ng-show="checkDate()">
      <div ng-hide="pool.winselect">
        <h2>Select Winner</h2>
        <div ng-repeat="option in pool.options" class="winbutton">
          <input type="button" class="btn btn-default" value="{{option.name}}" ng-click="selectWinner(option)"/>
        </div>
        <div style="clear:both"></div>
      </div>
      <div ng-show="pool.winselect">
        <h2>{{pool.winner}} won!</h2>
      </div>
    </div>

    <div ng-hide="checkDate()">
      <div ng-repeat="option in pool.options">
        <h3>{{option.name}}</h3>
        <p>{{option.desc}}</p>
        <h4>Who's betting?</h4>
        <p ng-show="option.betters === undefined">Nobody!</p>
        <div ng-repeat="bet in option.betters">
          {{bet.name}}, {{bet.val}}
        </div>
        <div ng-hide="bet">
          <a class="btn btn-default" ng-click="bet = !bet">Bet on {{option.name}}</a>
        </div>
        <div ng-show="bet">
          Name: <input type="text" ng-model="betname"/>
          Value: <input type="text" ng-model="betval"/>
          <a class="btn btn-default" ng-click="addBet(option, betname, betval)">Submit</a>
        </div>
      </div>
    </div>

  </div>
</div>
